<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<!-- Barre de Navigation -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Pharmacy</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/index">Accueil</a></li>

            <!-- Vérification si l'utilisateur est connecté -->

            <li><a href="/registration">Inscription</a></li>
            <li><a href="/logout">Déconnexion</a></li>
        </ul>
    </div>
</nav>

<!-- Contenu de la page d'accueil -->
<div class="container">
    <h2>Bienvenue sur My Pharmacy</h2>
    <p>Votre plateforme pour trouver les pharmacies de garde et commander vos médicaments facilement.</p>
</div>

</body>
</html>
